<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>	
		<setting name="cacheEnabled" value="false"/>
	</settings>
	<typeAliases>
		<typeAlias type="service.dto.Review" alias="REVEIW" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@202.20.119.117:1521:orcl" />
				<property name="username" value="dbprog0102" />
				<property name="password" value="sv7777" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="persistence.dao.CommentMapper.xml" />
	</mappers>
</configuration>