<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="persistence.dao.CommentMapper">
<cache />
<sql id="writeColumns">
	reviewid AS reviewId,
	content AS content,
	rating AS rating,
	userid AS userId,
	recipeid AS recipeId,
	published AS published
</sql>
	<insert id="writeReview" parameterType="service.dto.Review">
		<selectKey keyProperty="reviewId" resultType="String" order="BEFORE">
			SELECT REVIEWID_SEQ.nextval AS reviewid FROM DUAL
		</selectKey>
		INSERT INTO REVIEW (REVIEWID, CONTENT, RATING, USERID, RECIPEID, PUBLISHED) VALUES(#{reviewId}, #{content}, #{rating}, #{userId}, #{recipeId}, SYSDATE)
	</insert>
</mapper>